    /* CSS comment *this is all CSS* */
    body{
        background-color: rgb(120, 157, 232);
        background-image: linear-gradient(rgb(144, 173, 229), rgb(142, 150, 233));
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        background-size: cover;
        height: 100vh;
    }
    #main {
        border: 1px solid black;
        width: 750px;
        border-radius: 10px;
        background-color: rgb(170, 145, 145);
        box-shadow: 10px 10px rgba(10, 10, 10, 0.5);
    }
    h1{
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    h2{
        padding: 10px;
    }
    li{
        text-decoration: none;
        display: inline;
    }

    a:link{ 
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding-right: 75px;
    }
    a:visited{
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }
    #footer{
        text-align: center;
    }