
@font-face {
    font-family: bob;
    src: url(../fonts/bobs_burgers/Bob\'sBurgers.ttf)
}
html, body{
    display: flex;
    justify-content: center;
    background-color: rgb(154,199,232);
}
#main{
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
    
}
#header{
    background-color: rgb(252,221,96);
}
h1{
    line-height: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: bob;
    font-size: 100px;
    color: rgb(240,38,42);
}
#nav{
    text-align: center;
    height: 40px;
    line-height: 40px;
    
}
.nav-btn:link{
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.nav-btn:hover{
    color: white;
    text-decoration: underline;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.nav-btn:visited{
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
ul{
    list-style-type: none;
}
li{
    margin: 20px 0 20px 0;
}
.side-btn:link{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.side-btn:hover{
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
#content{
    float: left;
    padding: 10px;
    width: 580px;
    background-color: rgb(240,38,42); 
    
}
#sidebar{
    float: left;
    width: 380px;
    padding: 10px;
    background-color:	rgb(149,210,68)
}
#footer{
    clear: both;
    background-color: rgb(252,221,96);;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
